@charset "utf-8";
*,*::after, *::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
}

body {
  background-color: #E8EEE2;
  font-family: "Arial";
  color: #000;
  height: 115px;
  font-size: 18px;
  margin-bottom: 50px;
}

ul, li, ol {
	list-style: none;
}

a {
	text-decoration: none;
}

/* Options */
.container {
	margin: 0 50px auto;
	padding: 5px;
}

.clear {
	clear: both;
}
/* Options */

/* Header */
header {
	position: relative;
	width: 100%;
  margin-bottom: 30px;
}

nav {
  background-color: rgb(85, 85, 85);
  box-shadow: 0px 7px 14px 0.12px rgba(0, 0, 0, 0.29);
  padding: 20px 20px;
}

ul {
  display: flex;
}
/* Header */

/* Content */
section {
  width: 100%;
  box-shadow: 0px 7px 19px -3px rgba(0, 0, 0, 0.29);
  border-radius: 5px;
  min-height: 70vh;
}
/* Content */

/* Footer */
footer {
  position: fixed;
  background-color: rgb(85, 85, 85);
  padding: 10px;
  margin-bottom: 0px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  color: #fff;
}
/* Footer */

/* Scroll/Скролл */
::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width: 5px;
}

::-webkit-scrollbar:horizontal {
  height: 0;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(85, 85, 85);
}

::-webkit-scrollbar-track-piece {
  background-color: #E8EEE2;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #fff;
}
/* Scroll/Скролл */


